<div class="disclaimer-modal-container">
    <button type="button" class="close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="modal-header">
        <h3 class="modal-title">Disclaimer</h3>
    </div>
    <div class="modal-body  bg-warning text-warning">
        Although the authors of this Web site have
        made every reasonable effort to be factually
        accurate, no responsibility is assumed for
        editorial or clerical errors or error occasioned
        by honest mistake. All information contained
        on this Web site is subject to change by the
        appropriate officials of The University of
        Alabama without prior notice. Material on this
        Web site does not serve as a contract between
        The University of Alabama and any other party.
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning btn-lg btn-block" ng-click="$dismiss('cancel')">OK</button>
    </div>
</div>